<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="fragment/layout">
  <head>
    <!-- metadata -->
    <meta charset="utf-8">
    <title>데이터 분석 진행중</title>
    <th:block layout:flagment="pageCustomFonts">
      <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
    </th:block>
  </head>
  <body>

<th:block layout:fragment="body">
  <section id="analysis_ongoing">
    <div class="container">
      <div class="row">
        <div class="on_cont">
          <div class="on_phrase">
            <h1>삐빅! 데이터 분석을 진행중입니다!</h1>
          </div>
          <div class="wheel">
            <i class="fa fa-cog fa-spin fa-fw wheel_info"></i>
          </div>
        </div>
      </div>
  </section>
  <!-- analysis_start -->
</th:block>
<th:block layout:fragment="pageCustomScript">
  <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</th:block>
  </body>
</html>
