<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="fragment/layout">
  <head>
    <!-- metadata -->
    <meta charset="utf-8">
    <title>WORDATA 파일 업로드</title>

  </head>
  <body>

<th:block layout:fragment="body">
  <section id="fileUpload">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </section>
  <!-- fileUpload -->
</th:block>

  </body>
</html>
