<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="wordata">
    <meta name="description" content="데이터 분석과 인공지능을 활용한 단어장 자동 생성 서비스 워다타입니다.">
    <meta name="keywords" content="빅데이터, 데이터 분석, 인공지능, 영어, 영어 단어장, 워다타, wordata">
    <title>WORDATA 로그인</title>

    <!-- css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap&subset=korean" rel="stylesheet">

  </head>
  <body style="background-color: #F6F6F6;">
    <div class="login_header">
      <div class="container">
        <div class="row">
          <div class="login_title">
            <h1>
              <a href="index.html">WORDATA</a>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- header -->

    <section id="login">
      <div class="login">
        <div class="container">
          <div class="row">
            <div class="lg_box">
              <div class="lg_up_box">
                <div class="wrapper">
                  <form class="" action="index.html" method="post">
                    <input type="text" name="" value="" placeholder=" 아이디(학번)">
                    <input type="password" name="" value="" placeholder=" 비밀번호">
                    <input type="submit" name="" value="로그인">
                  </form>
                  <!-- loginbox -->
                </div>
                <!-- wrapper -->
                <div class="bottom-text">
                  <label class="checkbox">
                    <input type="checkbox">
                    <span class="icon"></span>
                    <span class="text">아이디 저장</span>
                  </label>
                  <a href="#">비밀번호 찾기</a>
                </div>
                <!-- bottom-text -->
              </div>
              <!-- lg_up_box -->
              <div class="advertisement">
                <div class="info_ad">
                  <a href="#">
                    <p>
                      개발을 잘하고 싶다면<br>개발자들
                    </p>
                    <span>(광고 클릭시 홈페이지로 이동합니다)</span>
                  </a>
                </div>
              </div>
              <!-- advertisement -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- login -->

    <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="footer_info">
              <ul>
                <li>
                  <a href="service.html">이용약관</a>
                </li>
                <li>
                  <a href="#">서비스 소개</a>
                </li>
                <li>
                  <a href="#">개발자 소개</a>
                </li>
                <li>
                  <a href="faq.html">FAQ</a>
                </li>
              </ul>
              <address class="">
                <p>Copyright 2020 by WORDATA develpoer Inc. All right reserved</p>
              </address>
            </div>
            <!-- footer_info -->
          </div>
        </div>
    </footer>
    <!-- footer -->

  </body>
</html>
