<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="fragment/llayout">
<head>
    <meta charset="UTF-8">
    <title>joinMembership</title>
    <th:block layout:flagment="pageCustomFonts">
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    </th:block>
</head>
<body>
<th:block layout:fragment="body">
    <section id="joinMembership">
        <div class="join_form">
            <div class="container">
                <div class="row">
                    <form name="userForm" class="joinBox" th:action="@{/joinMembership}" method="post"
                          modelAttribute="userDto">
                        <div class="join_row">
                            <h3 class="join_title">
                                <label for="id">아이디(학번)</label>
                            </h3>
                            <span class="jm_box int_user">
                  <input type="text" id="id" name="loginId" th:value="${userDto?.loginId}" class="int">
                </span>
                        </div>
                        <!--/*@thymesVar id="valid_loginId" type="text"*/-->
                        <span th:text="${valid_loginId}"></span>
                        <!-- id -->
                        <div class="join_row">
                            <h3 class="join_title">
                                <label for="pass">비밀번호<label>
                            </h3>
                            <span class="jm_box int_user">
                  <input type="password" id="pass" name="" value="" class="int">
                </span>
                        </div>
                        <p></p>
                        <!--/*@thymesVar id="valid_password" type="text"*/-->
                        <span th:text="${valid_password}"></span>
                        <!-- password -->
                        <div class="join_row">
                            <h3 class="join_title">
                                <label for="passCheck">비밀번호 확인</label>
                            </h3>
                            <span class="jm_box int_user">
                  <input type="password" id="passCheck" name="password" value="" class="int">
                </span>
                        </div>
                        <!-- password check -->
                        <div class="pass_match">
                            <font id="chkNotice" size="2"></font>
                        </div>
                        <!-- pass_match -->
                        <div class="join_row">
                            <h3 class="join_title">
                                <label for="name">이름</label>
                            </h3>
                            <span class="jm_box int_user">
                  <input type="text" id="name" name="name" th:value="${userDto?.name}" class="int">
                </span>
                        </div>
                        <!--/*@thymesVar id="valid_name" type="text"*/-->
                        <span th:text="${valid_name}"></span>
                        <!-- name -->
                        <div class="join_row">
                            <h3 class="join_title">
                                <label for="major">학부(학과)</label>
                            </h3>
                            <span class="jm_box major_code">
                <select class="major" id="major" name="department">
                  <option value="" selected>선택안함</option>
                  <option value="">--------------------</option>
                  <option value="인문융합자율학부">인문융합자율학부</option>
                  <option value="기독교문화학과">기독교문화학과</option>
                  <option value="영어학과">영어학과</option>
                  <option value="일어일본어학과">일어일본학과</option>
                  <option value="중어중국어학과">중어중국학과</option>
                  <option value="">--------------------</option>
                  <option value="사회융합자율학부">사회융합자율학부</option>
                  <option value="사회복지학과">사회복지학과</option>
                  <option value="사회학과">사회학과</option>
                  <option value="경제학과">경제학과</option>
                  <option value="정치학과">정치학과</option>
                  <option value="경영학과">경영학과</option>
                  <option value="">--------------------</option>
                  <option value="미디어컨텐츠융합자율학부">미디어컨텐츠융합자율학부</option>
                  <option value="디지털컨텐츠학과">디지털컨텐츠학과</option>
                  <option value="신문방송학과">신문방송학과</option>
                  <option value="">--------------------</option>
                  <option value="IT융합자율학부">IT융합자율학부</option>
                  <option value="컴퓨터공학과">컴퓨터공학과</option>
                  <option value="소프트웨어공학과">소프트웨어공학과</option>
                  <option value="정보통신공학과">정보통신공학과</option>
                  <option value="글로컬IT학과">글로컬IT학과</option>
                </select>
                </span>
                            <!--/*@thymesVar id="valid_department" type="text"*/-->
                            <span th:text="${valid_department}"></span>
                        </div>
                        <!-- major -->
                        <input type="submit" name="" value="회원가입">
                    </form>
                    <!-- joinBox -->
                </div>
            </div>
        </div>
    </section>
    <!-- joinMembership -->
</th:block>

<th:block layout:fragment="pageCustomScript">
    <script type="text/javascript">
        // 비밀번호 일치 여부
        $(function () {
            $('#pass').keyup(function () {
                $('#chkNotice').html('');
            });

            $('#passCheck').keyup(function () {
                if ($('#pass').val() != $('#passCheck').val()) {
                    $('#chkNotice').html('비밀번호 일치하지 않음');
                    $('#chkNotice').attr('color', '#FF3636');
                } else {
                    $('#chkNotice').html('비밀번호 일치함');
                    $('#chkNotice').attr('color', '#2478FF');
                }
            });
        });
    </script>
</th:block>

</body>
</html>